

body 
{
    background: #fff2f6;
    color: #0E0E0E;
    font-family: 'Inknut Antiqua', serif;
    font-family: 'Jaldi', sans-serif;
   
}

section, header {
    width: 80%;
    max-width:800px;
    margin: auto;
}


.topimg {
    margin-top: 0;
    margin-bottom: 0rem;
}



img  { 
    display: block;
    padding: 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #8B2900;
    font-family: 'Jaldi', sans-serif;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

h1 {
    font-size: 5rem;
    color:#0E0E0E;
    font-family: 'Inknut Antiqua', serif;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

p {
    line-height: 1.5;
    margin-bottom: 2.5rem;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;
}

h3 {
    color: #0E0E0E;
    font-size: 16px;
    font-family: 'Jaldi', sans-serif;
    margin-bottom: 1rem;
    margin-top: 4rem;
}


    

header h1 {
    font-size: rem;
    color:#D44E15;
    font-family: 'Inknut Antiqua', serif;
    color:  #f7f7f7;
    margin-bottom: 0rem;
    margin-top: 0rem;
    letter-spacing: 0.15rem;
}





h3 {
    font-size: 5;
    font-family: 'Jaldi', sans-serif;
    color:  #0E0E0E;
}

header p {
    font-size: 1.3rem

}

.dropcap {
    font-family: 'Jaldi', sans-serif;
    float: left;
    line-height: 35%;
    width: .8.40em;
    font-size: 300%;
    color: #8B2900; 
}



nav {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #2C3336;
    padding: 0rem 0 ;
    font-size: 0.8rem;
    position: fixed;
}

nav h2{
    font-size: 3;
    font-style: italic;
    font-family: 'Jaldi', sans-serif;
    color:  #fff2f6;
    float: left;
    width: 80%;
    max-width:800px;
    margin: auto;
    padding-left: 2.75rem;
    padding-bottom: 1rem;
}

nav ul{
    padding-right: 5rem;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    padding-left: 1rem;

}


nav a:link {
    color: #0E0E0E;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a:visited {
 color: #fff;
}

nav a:hover {   
    border-bottom: none;
    color: #000;
    transition: all 0.3s ease-in-out;

}


.dark {
    background: #C03900;
    color: #0E0E0E;
    padding: 4.5rem 0;
}




footer {
    background: #333;
    text-align: center;
    font-size: 0.8rem;
    color: #f7f7f7;
    padding: 2rem 0

}


.connections{
    position: relative;
    margin: 0 auto;}

.connections ul{
    margin: 0;
    padding: 0;}

.connections li{
    margin: 0 10px;
    padding: 0;
    list-style: none;
    display: inline-block;  }

.connections a:link{
        border-bottom: none;       }

.connections img, .connections svg{
    border: none;}

.connections a:hover img, .connections a:hover svg{
    border-bottom: none;}

 .connections svg {
    margin: 2rem auto;}

.connections a:hover svg path {
    fill: #333;
    transition: all 0.2s ease-in-out;}

footer .connections a:hover svg path {
    fill:  #C2C2C2;
    transition: all 0.2s ease-in-out;}

   
/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 16px;
    }

    strong {
        font-size: 18px;
    }
    .dropcap { 
            font-size: 1.5rem;
            line-height: 90%
        }

        .dropcap2 { 
            font-size: 1.5rem;
            line-height: 90%
        }

        .dropcap3 { 
            font-size: 1.5rem;
            line-height: 90%
        }
        .container {
            max-height: 60px;
            padding-right: 2rem;
        }

}
/* Media query for screens between 601px and 900px */
@media (min-width: 601px) and (max-width: 900px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 18px;
    }

    strong {
        font-size: 20px;
    }
    .dropcap { 
        font-size: 2rem;
        line-height: 60%;
    }

    .dropcap2 { 
        font-size: 2rem;
        line-height: 60%;
    }

    .dropcap3 { 
        font-size: 2rem;
        line-height: 60%;
    }
}


/* Media query for screens larger than 901px */
@media (min-width: 901px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    strong {
        font-size: 22px;
    }
        .dropcap { 
            font-size: 3rem;
            line-height: 35%;
        }
        
        .dropcap2 { 
            font-size: 3rem;
            line-height: 35%;
        }
        
        .dropcap3 { 
            font-size: 3rem;
            line-height: 35%;
        }
      
        
} 